<% content_for :title do %>Water Processing - Operator<% end %>
<%= render "pump_status" %>

<div class="container">
<%= form_for @new_status, url: '/operate' do |f| %>
  <%= f.hidden_field :operating_at %>
  <%= f.submit @submit_text %>
<% end %>
</div>

<div class="alert alert-success" role="alert">
  Here's your flag for Portugal: GotPumps
</div>
